.contactInfo {
    display: flex;
    justify-content: center;
}

.contactTitle,
.contactLink {
    font-size: 40px;
    text-align: center;
    padding: 0 3px;
}

.contactLink {
    color: $dark-orange;
}

.contactContainer {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 480px) {
    .contactTitle,
    .contactLink {
        font-size: 28px;
    }
}
