.container {
    margin: 100px 50px;
    z-index: -1;
}
.sentence {
    font-size: 72px;
    text-align: center;
}
.hover-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hover-skills div {
    font-size: 48px;
}
.article {
    font-size: 72px;
    text-align: center;
    width: 80px;
   
}
.skill {
    font-size: 72px;
    text-align: center;
    width: 350px;
    color: $dark-orange;
}


@media (max-width: 480px) {
    .sentence {
        font-size: 36px;
        flex-wrap: nowrap;
    }
    .hover-skills div {
        font-size: 24px;
        flex: 0 0 40%;   
    }
    .hover-skills {
        margin-top: 20px;    
    }
    .container {
        margin: 100px 20px;
    }
}
