.container {
    margin: 100px 50px;
    z-index: -1;
}
.sentence {
    font-size: 72px;
    text-align: center;
}
.hover-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hover-skills div {
    font-size: 48px;
}
.article {
    font-size: 72px;
    text-align: center;
    width: 80px;
   
}
.skill {
    font-size: 72px;
    text-align: center;
    width: 350px;
    color: rgb(255, 102, 0);
}
.skills {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.image {
    margin: 20px;
    padding: 20px;
    border-radius: 80px;
    border: 1px solid black;
}

.image img {
    width: 80px;
    height: 80px;
}

.express {
    margin: 20px;
    padding: 20px;
    border-radius: 80px;
    border: 1px solid black;
}

.express img {
    width: 120px;
    height: 80px;
}

.clicked {
    background: rgb(197, 247, 104);
}


    
  
  

.image:hover {
    margin: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px grey;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: grow;
}
.express:hover {
    margin: 10px;
    cursor: pointer;
    width: 140px;
    height: 100px;
    box-shadow: 5px 5px grey;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: grow-express;
}

@keyframes grow {
    from {
        margin: 20px;
        width: 80px;
        height: 80px; 
    }
  
    to {
        margin: 10px;
        width: 100px;
        height: 100px;
    }
  }

  @keyframes grow-express {
    from {
        margin: 20px;
        width: 120px;
        height: 80px; 
    }
  
    to {
        margin: 10px;
        width: 140px;
        height: 100px;
    }
  }