.skills {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    position: relative;
}

.image {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
    position: relative;
}

.image img {
    width: 60px;
    height: 60px;
}

.express {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
}

.express img {
    width: 100px;
    height: 60px;
}

.clicked {
    background: $light-orange;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@media (hover: hover) and (pointer: fine) {
    .image:hover,
    .express:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
    }

    .image:hover img,
    .express:hover img {
        transform: scale(1.1);
        animation-duration: 0.5s;
        animation-name: grow;
    }
}

@media (max-width: 480px) {
    .clicked {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
    }
    .image img,
    .express img {
        width: 60px;
        height: 60px;
    }
}
