.image {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
}

.image img {
    width: 60px;
    height: 60px;
}

.express {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
}

.express img {
    width: 100px;
    height: 60px;
}

.clicked {
    background: rgb(197, 247, 104);
}

.image:hover {
    margin: 10px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    box-shadow: 5px 5px grey;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: grow;
}
.express:hover {
    margin: 10px;
    cursor: pointer;
    width: 120px;
    height: 80px;
    box-shadow: 5px 5px grey;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: grow-express;
}

@keyframes grow {
    from {
        margin: 20px;
        width: 60px;
        height: 60px; 
    }
  
    to {
        margin: 10px;
        width: 80px;
        height: 80px;
    }
  }

  @keyframes grow-express {
    from {
        margin: 20px;
        width: 100px;
        height: 60px; 
    }
  
    to {
        margin: 10px;
        width: 120px;
        height: 80px;
    }
  }