.skills {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
    position: relative;
}

.image {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
    position: relative;
}

.image img {
    width: 60px;
    height: 60px;
}

.express {
    margin: 20px;
    padding: 10px;
    border-radius: 80px;
    border: 1px solid black;
}

.express img {
    width: 100px;
    height: 60px;
}

.clicked {
    background: rgb(162, 255, 99);
}

.image:hover,
.express:hover,
.image:active,
.express:active {
    transform: scale(1.1);
    box-shadow: 5px 5px grey;
    cursor: pointer;
    animation-duration: 0.5s;
    animation-name: grow;
}

.image:hover img,
.express:hover img,
.image:active img,
.express:active img {
    transform: scale(1.1);
    animation-duration: 0.5s;
    animation-name: grow;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    .clicked {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
    }
    .image img,
    .express img {
        width: 40px;
        height: 40px;
    }
}

