.toggleProjectPics,
.previewContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.arrowsContainer {
    display: flex;
    justify-content: center;
    width: 360px;
    margin-top: 5%;
}

.projectPicBtn {
    font-size: 60px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    margin: 5%;
    border-radius: 100%;
    border: 1px solid black;
}

.projectModal {
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
    transform: translate(0%) scale(1)
}

.projectPreview,
.projectPreviewShow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
}

.projectPreview {
    z-index: 5;
}

.projectPreviewShow {
    z-index: 4;
}

.right,
.left {
    position: absolute;
    transform: scale(0.22);
}

.right {
    margin-left: 75%;
}

.left {
    margin-right: 75%;
}

.arrowClicked {
    background: $light-orange;
}

@media (hover: hover) and (pointer: fine) {
    .projectPicBtn:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
    }
    @keyframes moveRightGrow {
        0% {
            transform: translate(0) scale(0.22);
            z-index: 5;
        }

        100% {
            transform: translate(41.7%) scale(1);
            z-index: 6;
        }
    }

    @keyframes moveLeftGrow {
        0% {
            transform: translate(0) scale(0.22);
            z-index: 5;
        }

        100% {
            transform: translate(-41.7%) scale(1);
            z-index: 6;
        }
    }

    @keyframes moveRightShrink {
        0% {
            transform: translate(0%) scale(1);
            z-index: 6;
        }

        100% {
            transform: translate(41.7%) scale(0.22);
            z-index: 5;
        }
    }

    @keyframes moveLeftShrink {
        0% {
            transform: translate(0%) scale(1);
            z-index: 6;
        }

        100% {
            transform: translate(-41.7%) scale(0.22);
            z-index: 5;
        }
    }

    @keyframes disappear {
        0% {
            z-index: 5;
            opacity: 1;
            transform: scale(0.22);
        }

        100% {
            z-index: 4;
            opacity: 0;
            transform: scale(0);
        }
    }

    @keyframes appear {
        0% {
            z-index: 4;
            opacity: 0;
            transform: scale(0);
        }

        100% {
            z-index: 5;
            opacity: 1;
            transform: scale(0.22);
        }
    }
}

@media (max-width: 480px) {
    .projectModal {
        height: 100%;
    }
    .toggleProjectPics,
    .previewContainer {
        height: 250px;
    }
    .arrowClicked {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
        background: $light-orange;
    }
    .projectPreview,
    .right,
    .left {
        opacity: 0;
    }
    .projectPreviewShow {
        display: none;
    }


    @keyframes moveRightGrow {
        0% {
            transform: translate(-41.7%) scale(0.22);
            opacity: 0;
        }

        100% {
            transform: translate(0) scale(1);
            opacity: 1;
        }
    }

    @keyframes moveLeftGrow {
        0% {
            transform: translate(41.7%) scale(0.22);
            opacity: 0;
        }

        100% {
            transform: translate(0) scale(1);
            opacity: 1;
        }
    }

    @keyframes moveRightShrink {
        0% {
            transform: translate(0%) scale(1);
            opacity: 1;
        }

        100% {
            transform: translate(41.7%) scale(0.22);
            opacity: 0;
        }
    }

    @keyframes moveLeftShrink {
        0% {
            transform: translate(0%) scale(1);
            opacity: 1;
        }

        100% {
            transform: translate(-41.7%) scale(0.22);
            opacity: 0;
        }
    }

    @keyframes disappear {
        0% {
            display: none;
        }

        100% {
            display: none;
        }
    }
}
