.projects {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10px;
    width: 150px;
    padding: 100px;
    border-radius: 30px;
    color: white;
}

.overlay {
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(71, 70, 70, 0.842);
    border-radius: 30px;
    align-items: center;
    animation-name: slowEnter;
    animation-duration: 1s;
    justify-content: center;
    cursor: pointer;
}

.project:hover {
    transform: scale(1);
}

@keyframes fadeIn {
    0% {
        font-size: 0px;
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
    100% {
        font-size: 16px;
        opacity: 1;
        width: 150px;
        margin: 10px;
        padding: 100px;
    }
}

@keyframes fadeOut {
    0% {
        font-size: 16px;
        opacity: 1;
        width: 150px;
        margin: 10px;
        padding: 100px;
    }
    100% {
        font-size: 0px;
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }
}


