.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.514);
    padding: 50;
}

.modal {
    z-index: 4;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 900px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    

}



.titleModal {
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.closeOut {
    font-size: 20px;
    text-align: right;
    top: 0;
    right: 0;
    padding: 10px;
}

.toggleProjectPics {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.arrowsContainer {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 5%;
}

.projectPicBtn {
    font-size: 60px;
    font-weight: 900;
    
    margin: 0 10%;
    user-select: none;

}

.previewContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.projectModal {
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
}

.projectPreview,
.projectPreviewShow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20%;
    height: 22%;
    color: white;
}

.projectPreview {
    z-index: 5;
}

.projectPreviewShow {
    z-index: 4;
}

.right,
.left {
    position: absolute;
}

.right {
    right: 1%;
}

.left {
    left: 1%;
}

.titleContainer {
    text-align: center;
}

.projectSummary {
    width: 100%;
    margin: 5% 0;
}

@keyframes moveRightGrow {
    from {
        transform: translate(0%) scale(1);
        z-index: 5;
    }

    to {
        transform: translate(195%) scale(4.53);
        z-index: 6;
    }
}

@keyframes moveLeftGrow {
    from {
        transform: translate(0%) scale(1);
        z-index: 5;
    }

    to {
        transform: translate(-195%) scale(4.53);
        z-index: 6;
    }
}

@keyframes moveRightShrink {
    from {
        transform: translate(0%) scale(1);
        z-index: 6;
    }

    to {
        transform: translate(43.3%) scale(0.22);
        z-index: 5;
    }
}

@keyframes moveLeftShrink {
    from {
        transform: translate(0%) scale(1);
        z-index: 6;
    }

    to {
        transform: translate(-43.3%) scale(0.22);
        z-index: 5;
    }
}

@keyframes disappear {
    from {
        z-index: 4;
        opacity: 100%;
        transform: scale(1);
    }

    to {
        z-index: 3;
        opacity: 0%;
        transform: scale(0);
    }
}

@keyframes appear {
    from {
        opacity: 0%;
        transform: scale(0);
    }

    to {
        opacity: 100%;
        transform: scale(1);
    }
}

@media (hover: hover) and (pointer: fine) {
    .projectPicBtn:hover {
        color: $orange;
        cursor: pointer;
    }
    .closeOut:hover {
        color: $orange;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .titleModal {
        font-size: 25px;
        margin: 5px;
    }
    .projectInfo {
        height: 500px;
        font-size: 12px;
    }

    // .left,
    // .right,
    // .projectPreview,
    // .projectPreviewShow {
    //     display: none;
    // }
    .projectModal {
        height: 100%;
    }
    .closeOut {
        padding: 10px;
    }
    .modal {
        padding: 0;
    }
    .projectSummary {
        width: 100%;
        padding: 10px;
    }
    .toggleProjectPics,
    .previewContainer {
        height: 50%;
        width: 100%;
    }
    .arrowClicked {
        color: $light-orange;
    }
}
