.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.514);
    padding: 50;
  }

  .modal {
    
    z-index: 4;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    
    margin: 0 auto;
    padding: 30px;
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 600px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .titleModal {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      padding: 10px;
  }

  .toggleProjectPics {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
  }

  .projectPicBtn {
    font-size: 60px;
    font-weight: 900;
    cursor: pointer;
    margin: 0 20px;
  }

  .projectPicBtn:hover {
    color: rgb(255, 102, 0);
  }

  .previewContainer {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .projectModal {
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 600px;
    height: 300px;
    color: white;
}

.projectPreview, 
.projectPreviewShow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 100px;
    color: white;
}

.projectPreview {
    z-index: 5;
    
}

.projectPreviewShow {
    z-index: 4;
}

.right,
.left {
    position: absolute;
}

.right {
    right: 386px;
}

.left {
    left: 386px;
}



.titleContainer {
    text-align: center;
}

.projectSummary {
    width: 700px;
}


@keyframes moveRightGrow {
    from {
        transform: translate(0px) scale(1)
    }

    to {
        transform: translate(400px) scale(3)
    }
}

@keyframes moveLeftGrow {
    from {
        transform: translate(0px) scale(1);
    }

    to {
        transform: translate(-400px) scale(3);
    }
}

@keyframes moveRightShrink {
    from {
        transform: translate(0px) scale(1)
    }

    to {
        transform: translate(400px) scale(0.33)
    }
}

@keyframes moveLeftShrink {
    from {
        transform: translate(0px) scale(1);
    }

    to {
        transform: translate(-400px) scale(0.33);
    }
}

@keyframes disappear {
    from {
        z-index: 4;
        opacity: 100%;
        transform: scale(1);
    }

    to {
        z-index: 3;
        opacity: 0%;
        transform: scale(0);
    }
}

@keyframes appear {
    from {
        opacity: 0%;
        transform: scale(0);
    }

    to {
        opacity: 100%;
        transform: scale(1);
    }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    .modal {
        width: 100%;
        height: 50%;
      }
      .projectModal {
        width: 350px;
        height: 300px;
    }
    .titleModal {
        font-size: 25px;
       
        margin: 20px 20px 20px 20px;
    }
}