.toggleProjectPics,
.previewContainer {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.toggleProjectPics {
    position: relative;
}

.arrowsContainer {
    display: flex;
    justify-content: center;
    width: 360px;
    margin-top: 5%;
}

.projectPicBtn {
    z-index: 5;
    font-size: 60px;
    font-weight: 900;
    width: 20%;
    height: 20%;
    cursor: pointer;
    margin: 5%;
    border-radius: 100%;
    border: 1px solid black;
}

.projectModal {
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
    transform: translate(0) scale(1);
}

.projectPreview,
.projectPreviewShow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
    position: absolute;
}

.projectPreview {
    z-index: 5;
}

.projectPreviewShow {
    z-index: 4;
}

.right {
    transform: translate(40%) scale(0.22);
    
}

.left {
    transform: translate(-40%) scale(0.22);
}


@media (hover: hover) and (pointer: fine) {
    .projectPicBtn:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px grey;
        cursor: pointer;
        animation-duration: 0.5s;
        animation-name: grow;
    }
    @keyframes moveRightGrow {
        0% {
            transform: translate(-40%) scale(0.22);
            z-index: 5;
        }

        100% {
            transform: translate(0) scale(1);
            z-index: 6;
        }
    }

    @keyframes moveLeftGrow {
        0% {
            transform: translate(40%) scale(0.22);
            z-index: 5;
        }

        100% {
            transform: translate(0) scale(1);
            z-index: 6;
        }
    }

    @keyframes moveRightShrink {
        0% {
            transform: translate(0) scale(1);
            z-index: 6;
        }

        100% {
            transform: translate(40%) scale(0.22);
            z-index: 5;
        }
    }

    @keyframes moveLeftShrink {
        0% {
            transform: translate(0) scale(1);
            z-index: 6;
        }

        100% {
            transform: translate(-40%) scale(0.22);
            z-index: 5;
        }
    }

    @keyframes rightDisappear {
        0% {
            z-index: 5;
            opacity: 1;
            transform: translate(40%) scale(0.22);
        }

        100% {
            z-index: 4;
            opacity: 0;
            transform: translate(40%) scale(0);
        }
    }

    @keyframes rightAppear {
        0% {
            z-index: 4;
            opacity: 0;
            transform: translate(40%) scale(0);
        }

        100% {
            z-index: 5;
            opacity: 1;
            transform: translate(40%) scale(0.22);
        }
    }
    @keyframes leftDisappear {
        0% {
            z-index: 5;
            opacity: 1;
            transform: translate(-40%) scale(0.22);
        }

        100% {
            z-index: 4;
            opacity: 0;
            transform: translate(-40%) scale(0);
        }
    }

    @keyframes leftAppear {
        0% {
            z-index: 4;
            opacity: 0;
            transform: translate(-40%) scale(0);
        }

        100% {
            z-index: 5;
            opacity: 1;
            transform: translate(-40%) scale(0.22);
        }
    }

}

@media (max-width: 480px) {
    .projectModal {
        height: 100%;
        animation: none !important;
    }
    .toggleProjectPics,
    .previewContainer {
        height: 250px;
    }
    
    .projectPreview,
    .projectPreviewShow,
    .right,
    .left {
        display: none;
        animation: none !important;
    }
}
