.toggleProjectPics,
.previewContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.arrowsContainer {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 5%;
}

.projectPicBtn {
    font-size: 60px;
    font-weight: 900;
    margin: 0 10%;
    user-select: none;
}

.projectModal {
    z-index: 6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    height: 100%;
    color: white;
}

.projectPreview,
.projectPreviewShow {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20%;
    height: 22%;
    color: white;
}

.projectPreview {
    z-index: 5;
}

.projectPreviewShow {
    z-index: 4;
}

.right,
.left {
    position: absolute;
}

.right {
    right: 1%;
}

.left {
    left: 1%;
}


@media (hover: hover) and (pointer: fine) {
    .projectPicBtn:hover {
        color: $orange;
        cursor: pointer;
    }
    @keyframes moveRightGrow {
        from {
            transform: translate(0%) scale(1);
            z-index: 5;
        }
    
        to {
            transform: translate(195%) scale(4.53);
            backface-visibility: hidden;
            z-index: 6;
        }
    }
    
    @keyframes moveLeftGrow {
        from {
            transform: translate(0%) scale(1);
            z-index: 5;
        }
    
        to {
            transform: translate(-195%) scale(4.53);
            z-index: 6;
        }
    }
    
    @keyframes moveRightShrink {
        from {
            transform: translate(0%) scale(1);
            z-index: 6;
        }
    
        to {
            transform: translate(43.3%) scale(0.22);
            z-index: 5;
        }
    }
    
    @keyframes moveLeftShrink {
        from {
            transform: translate(0%) scale(1);
            z-index: 6;
        }
    
        to {
            transform: translate(-43.3%) scale(0.22);
            z-index: 5;
        }
    }
    
    @keyframes disappear {
        from {
            z-index: 5;
            opacity: 100%;
            transform: scale(1);
        }
    
        to {
            z-index: 4;
            opacity: 0%;
            transform: scale(0);
        }
    }
    
    @keyframes appear {
        from {
            z-index: 4;
            opacity: 0%;
            transform: scale(0);
        }
    
        to {
            z-index: 5;
            opacity: 100%;
            transform: scale(1);
        }
    }
}

@media (max-width: 480px) {
    .projectModal {
        height: 100%;
    }
    .toggleProjectPics,
    .previewContainer {
        height: 250px;
    }
    .arrowClicked {
        color: $light-orange;
        cursor: pointer;
    }
    .projectPreview,
    .right,
    .left {
        opacity: 0;
    }
    .projectPreviewShow {
        display: none;
    }
    @keyframes moveRightGrow {
        from {
            transform: translate(0%) scale(1);
            opacity: 0%;
        }
    
        to {
            transform: translate(195%) scale(4.53);
            opacity: 100%;
        }
    }
    
    @keyframes moveLeftGrow {
        from {
            transform: translate(0%) scale(1);
            opacity: 0%;
        }
    
        to {
            transform: translate(-195%) scale(4.53);
            opacity: 100%;
        }
    }
    
    @keyframes moveRightShrink {
        from {
            transform: translate(0%) scale(1);
            opacity: 100%;
        }
    
        to {
            transform: translate(43.3%) scale(0.22);
            opacity: 0%;
        }
    }
    
    @keyframes moveLeftShrink {
        from {
            transform: translate(0%) scale(1);
            opacity: 100%;
        }
    
        to {
            transform: translate(-43.3%) scale(0.22);
            opacity: 0%;
        }
    }

    @keyframes disappear {
        from {
            display: none;
        }
    
        to {
            display: none;
        }
    }


    
}
