.header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 100px 10px 10px;
}

.header li {
    list-style-type: none;
    margin: 10px;
}

.header li a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px black solid;
    font-weight: bold;
}

.header a:hover {
    background-color: $light-orange;
    border: hidden;
    border-radius: 10px;
}
